<!--Carousel-->
<div ng-include="'app/views/components/carousel.view.html'"></div>
<div class="content_one">
    <div class="container">
        <div class="col-lg-12">
            <h2>AIRPORT TRANSPORTATION</h2>
            <hr>
            <p>We board individuals as well as large groups to and from your residence,
                workplace, hotel or any other locations. We operate 24 x 7 and ensure that the service run
                seemly eliminating every potential problem associated with your travel. Additionally,
                we stay in constant contact with the awaiting customers and will never let them experience
                any communication lags. On the top of all we pay more attention to satisfying customers,
                by providing strong customer service - by offering friendly chauffeurs, comfortable
                vehicles all at reasonable rates to any location in SriLanka.</p>
        </div>
    </div>
</div>
<div class="services_one">
    <div class="container">
        <div class="col-lg-12">
            <h2>SERVICES WE OFFER</h2>
            <hr class="hr_orange">
            <p>Our services are designed to exceed your essentials, and we strive to deliver a high quality
                service matching your lifestyle. Whether your itinerary is driven by a business trip or an
                enjoyable tour, we have the solution. We provide an uninterrupted and smooth service, tailor made
                according to your requirement, above your expectation and within your budget with guarantee best
                service coupled with comfort and safety.</p>
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="service_image_border">
                        <img src="app/assets/images/home/247-taxi.png">
                    </div>
                    <h3>24/7 TAXI SERVICE</h3>
                    <p>Get the most personalized travel experience out of our Corporate transportation service</p>
                </div>
                <div class="col-lg-3">
                    <div class="service_image_border">
                        <img src="app/assets/images/home/airport.png">
                    </div>
                    <h3>AIRPORT TRANSFERS</h3>
                    <p>Experience the same comfort as in a flight, even at ground with our excellent Airport transportation Service</p>
                </div>
                <div class="col-lg-3">
                    <div class="service_image_border">
                        <img src="app/assets/images/home/tour-plan.png">
                    </div>
                    <h3>TOUR PLANNING</h3>
                    <p>Hire our service and get to the destination in ultimate comfort</p>
                </div>
                <div class="col-lg-3">
                    <div class="service_image_border">
                        <img src="app/assets/images/home/hotel-taxi.png">
                    </div>
                    <h3>HOTEL TAXI</h3>
                    <p>Move the planning task to our desk and relax</p>
                </div>
            </div>
        </div>
    </div>
</div>
