<div class="header-banner">
    <img src="app/assets/images/services/service.jpg">
    <div class="header-con">
        <div class="col-lg-12 text-center">
            <h1>SERVICES</h1>
            <div class="divider-line"></div>
        </div>
    </div>
</div>
<div class="driver-box">
    <div class="container">
        <div class="col-lg-12">
            <p>Our services are designed to exceed your essentials,
                and we strive to deliver a high quality service matching your lifestyle.
                Whether your itinerary is driven by a business trip or an enjoyable tour, we have the solution.
                We provide an uninterrupted and smooth service, tailor made according to your requirement,
                above your expectation and within your budget with guarantee best service coupled with comfort and safety.</p>
        </div>
    </div>
</div>
<div class="container content">
    <div class="col-lg-12 service-desc">
        <h3>CORPORATE TRANSPORTATION</h3>
        <h5>“GET THE MOST PERSONALIZED TRAVEL EXPERIENCE OUT OF OUR CORPORATE TRANSPORTATION SERVICE”</h5>
        <hr class="hr_orange" align="left">
        <p>
            At Recharge tours, we continually update our splendid fleet and offer regular training to our
            experienced chauffeurs to provide the highest level of corporate transportation services
            for leisure and business travel of corporate employees, guest, clients and other business
            or personal needs in Sri Lanka. We consider the Corporate Standards and operate professionally
            aligned to the needs of today’s corporate travelers.
            <br><br>
            Safety and convenience are the fundamental factors of everything we do.
            We always strive to offer economical and professional service for all our customers and always
            ensure prompt and lavish arrival at your business conferences, meetings, events, corporate parties
            or any other business travel necessity in total comfort.
        </p>
    </div>

    <div class="col-lg-12 service-desc">
        <h3>AIRPORT TRANSPORTATION</h3>
        <h5>“EXPERIENCE THE SAME COMFORT AS IN A FLIGHT, EVEN AT GROUND WITH OUR EXCELLENT AIRPORT TRANSPORTATION SERVICE”</h5>
        <hr class="hr_orange" align="left">
        <p>
            We cater all your airport transportation needs with the latest model fleet in the city.
            You can always rely on us with confidence; we take up the complete responsibility to relieve you from traffic,
            stress and hassle associated with driving yourself before/after journey. Our chauffeurs are well groomed and
            are much familiar with the roads, streets and the traffic patterns in the city,
            they know what it takes to get you to your flight or your destination safely on time, whatever may be the hour of the day.
            <br><br>
            We board individuals as well as large groups to and from your residence, work place,
            hotel or any other locations. We operate 24 x 7 and ensure that the service run seemly eliminating
            every potential problem associated with your travel. Additionally, we stay in constant contact
            with the awaiting customers and will never let them experience any communication lags.
            On the top of all we pay more attention in satisfying customers,
            by providing strong customer service - by offering friendly chauffeurs, comfortable vehicles all at reasonable
            rates to any location in Sri Lanka.
        </p>
    </div>

    <div class="col-lg-12 service-desc">
        <h3>MEETINGS & EVENTS TRANSPORTATION</h3>
        <h5>“PROFESSIONAL CARE THROUGHOUT YOUR EVENT”</h5>
        <hr class="hr_orange" align="left">
        <p>
            Backed up with years of experience our event management professional provide right guidance to
            our customers and makes event transportation easy. Our team has a good understanding about the unique challenges
            of event transportation planning. With their sound knowledge and experience they help you to choose
            the best out of our options to make your transportation logistics painless. They completely take up
            the responsibility in analyzing your requirements and will work with you to select the best vehicle
            matching your event type and need within your budget.

            We offer the best transportation support for corporate events of all sizes including business conferences,
            investor meetings, company parties, PR shoots and lot more across SriLanka. Our courteous chauffeurs always
            ensure that your attendees are safely and comfortably transported between meeting venues without admitting any flaws.
        </p>
    </div>

    <div class="col-lg-12 service-desc">
        <h3>GROUP TRANSPORTATION</h3>
        <h5>“PROFESSIONAL CARE THROUGHOUT YOUR EVENT”</h5>
        <hr class="hr_orange" align="left">
        <p>
            In the past, we have safely and professionally provided local and long-distance group transportation
            services to many numbers of shared and private groups. Whether you are a family group, friends group
            or a large convention, we can arrange any type of group services like family trips, city sightseeing tours,
            visits to local tourist places, school trips, trade show and convention shuttles or any attractions and adventure
            destination within Sri Lanka. Our team will help you choose the
            best fleet to fit your needs considering your group size and budget.

            Our vehicles are periodically checked and maintained in perfect condition by our expert mechanics and additionally,
            before each trip the vehicles are completely cleaned and thoroughly checked to assure safety.
            Whether you are traveling with 10 or 60 passengers we guarantee same level of safety and
            satisfaction at all times with the help of our experienced professional drivers and well maintained vehicles.
            We assure you an exceptional experience all throughout the trip by facilitating all the necessary amenities
            needed for a comfortable and relaxing trip.

            We offer a superior array of fleets starting from small vans, to limousines,
            brand new luxury vans and coaches for any size of groups.
        </p>
    </div>

    <div class="col-lg-12 service-desc">
        <h3>POINT-TO-POINT TRANSPORTATION</h3>
        <h5>“HIRE OUR SERVICE AND GET TO THE DESTINATION IN ULTIMATE COMFORT”</h5>
        <hr class="hr_orange" align="left">
        <p>
            Our point-to-point transportation services help you to utilize your travel time in a most productive way.

            Book a car from your Work place/ Residence/ Hotel to your meeting, conference or any destination in
            just simple steps by utilizing online booking system.

            Fully equipped vehicle of your choice with all modern amenities and latest technology will reach your
            place on time immediately after the booking is confirmed. Our vehicles are well-maintained vehicles ensure
            maximum comfort and safety and the overall setting will allow you to check emails, work on presentations,
            make calls, or even take a small power nap.

            We walk few steps further to make sure that every aspect of your travel
            is worthwhile and you will experience it during the trip.
        </p>
    </div>

    <div class="col-lg-12 service-desc">
        <h3>MEETING PLANNERS</h3>
        <h5>“MOVE THE PLANNING TASK TO OUR DESK AND RELAX”</h5>
        <hr class="hr_orange" align="left">
        <p>
            Whether you are organizing a small or big corporate meeting, seminar or a conference we are here
            to help you with the most important part “The planning”. You can confidently handover the responsibility to us,
            and we will soon come up with an innovative and cost-effective solution for your occasion.

            Our well experienced and trained team will work alongside you at every step of the way to meet
            your needs and to satisfy your requirements. They will prepare your meeting manifest, prepares schedules,
            book your reservations and confirm all the details with you prior to your meeting.

            During the meeting your manager will be available and will the responsibility and will handle the
            contingencies if any during the meeting. They will take immediate actions by responding to the
            changes and will completely ensure flawless execution.
        </p>
    </div>
</div>