.driver-box{
    margin-top:0px;
    background-color: #4e9d69;
    color: white;
    padding: 50px;
}
.driver-box h2{
    text-align: center;
}
.driver-box p{
    font-size: 16px;
    text-align: center;
}
.driver-title{
    height: 100%;
    width: 100%;
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    margin-bottom: -40px;
}
.driver-title .hr_orange{
    border-color: #4e9d69;
}

.driver{
    text-align: left;
    margin-bottom: 25px;
}
.driver .hr_orange{
    border-color: #4e9d69;
    max-width: 100px;
}
.driver p{
    font-size: 16px;
}
.driver img{
    margin-top: 20px;
}
@media (max-width: 1200px) {
    .driver .driver-swap{
        display: flex; flex-direction: column-reverse;
    }
}

.service-desc{
    margin-bottom: 25px;
}
.service-desc .hr_orange{
    border-color: #4e9d69;
    max-width: 100px;
}
.content{
    margin-top: 25px;
}
